/* styles.css */

/* Add your custom CSS styles here */

/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-image: url('../resources/images/background.png'), linear-gradient(to bottom, #67AAC7, #67AAC7); /* Adjust the path to your background image */
    background-size: initial, cover;
    background-repeat: repeat-x, repeat;
    background-position: 0px 250px;
    padding-bottom: 100px;
}

.navbar {
    padding: 10px 0;
}

.navbar-brand {
    font-weight: bold;
}

.eye-editor-pane {
    width: fit-content%; /* Adjust width as needed */
    max-width: 600px; /* Maximum width */
    height: auto; /* Adjust height as needed */
    padding: 20px; /* Add padding for spacing */
    margin: 0 auto; /* Center the pane horizontally */
    background-color: #fff; /* White background color */
    border: 2px solid #000; /* Black border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow effect */
    text-align: center; /* Align content to the center */
    position: relative; /* Set position to relative */
}

.editor-textarea {
    width: 100%; /* Occupy full width of editor pane */
    height: min-content; /* Set initial height of text area */
    padding: 10px; /* Add padding for spacing */
    margin: 0; /* Reset margin */
    border: none; /* Remove default border */
    background-color: transparent; /* Transparent background */
    resize: none; /* Disable resizing */
    font-size: 16px; /* Font size */
    color: #000; /* Text color */
    font-family: Arial, sans-serif; /* Font family */
    outline: none; /* Remove focus outline */
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    font-size: 16px;
    color: #333;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.container {
    position: relative; /* Set the container as relative */
    z-index: 2; /* Ensure the content is above the overlay */
    color: white; /* Set text color to white for better visibility */
}

.overlay {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.65); /* Semi-transparent black color */
    z-index: -1; /* Ensure the overlay is above the background image */
}


.eye-message-pane {
    overflow-x: auto; /* Enable horizontal scrollbar if needed */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    white-space: nowrap; /* Prevent line breaks */
    width: fit-content; /* Adjust width as needed */
    max-width: 90%; /* Maximum width */
    height: auto; /* Adjust height as needed */
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto; /* Center the pane horizontally */
    background-color: rgba(128, 128, 128, 0.9); /* Semi-transparent black color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.85); /* Add shadow for depth */
    text-align: center;
    padding: 1%;
    padding-right: 2%;
    position: relative; /* Set position to relative */
}

.eye-message-pane img {
    filter: brightness(0);
}

.eye-message-pane::-webkit-scrollbar {
     width: 10;  /* Hide scrollbar */
 }

.eye-images {
    width: min-content;
    height: 18px;
}

.offset-images {
    transform: translateX(13px); /* Translate each image container 13px to the right */
    width: min-content;
    height: 18px;
}

.dropdown {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    white-space: nowrap; /* Prevent line breaks */
    width: fit-content; /* Adjust width as needed */
    max-width: 90%; /* Maximum width */
    height: auto; /* Adjust height as needed */
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto; /* Center the pane horizontally */
}

.dropbtn {
    padding: 10px 20px; /* Adjust padding as needed */
    border: 2px solid #4CAF50; /* Green border */
    border-radius: 5px; /* Rounded corners */
    background-color: #4CAF50; /* Button background color */
    color: #fff; /* Text color */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Font weight */
    text-transform: uppercase; /* Uppercase text */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background color and text color */
}

.dropbtn:hover {
    background-color: #45a049; /* Darker green background on hover */
    color: #fff; /* Light text color on hover */
}

.dropdown-content {
    display: none; /* Hide dropdown content by default */
    position: absolute; /* Position dropdown content */
    background-color: #f9f9f9; /* Dropdown background color */
    min-width: 160px; /* Set minimum width */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow effect */
    z-index: 1; /* Ensure dropdown content appears above other elements */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}