body {
    font-family: Arial, sans-serif;
    background: url('../resources/images/background.png'), linear-gradient(to bottom, #5D5493, #5D5493);
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.navbar {
    padding: 10px 0;
}

.navbar-brand {
    font-weight: bold;
}

.eye-editor-pane {
    width: calc(33% - 20px);
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    display: grid;
}

.editor-textarea {
    width: calc(100% - 10px);
    height: 210px;
    padding: 10px;
    border: none;
    background-color: transparent;
    resize: none;
    font-size: 16px;
    color: #000;
    font-family: Arial, sans-serif;
    outline: none;
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    font-size: 16px;
    color: #333;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.container {
    position: relative;
    z-index: 2;
    color: white;
}

.overlay {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.65);
    z-index: -1;
}

.eye-message-pane {
    overflow-x: auto;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    width: auto;
    max-width: 90%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
    text-align: center;
    position: relative;
}

.eye-message-pane img {
    filter: brightness(0);
    width: 100%;
}

.eye-message-pane::-webkit-scrollbar {
    width: 10px;
}

.eye-images,
.offset-images {
    width: 26px;
    height: 18px;
    z-index: 0;
}

.offset-images {
    transform: translateX(13px);
}

.dropdown,
.dropdown-msg,
.dropdown-mode,
.dropbtn {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    width: fit-content;
    max-width: 90%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    z-index: 6;
}

.dropbtn {
    padding: 10px 20px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 0 !important;
}

.dropbtn:hover {
    background-color: #45a049;
    color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


table {
    width: 100%;
}


th {
    display: flex;
    padding: 10px;
}

.eye-images-container {
    background-color: #fff;

    position: relative;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 1%;
}

.button-container {
    display: flex;
}

.overlay-image {
    filter: brightness(50%) !important;
    color: red !important;
    position: absolute;
    width: 52px !important;
    height: 36px;
}

.overlay-image-flipped {
    -webkit-filter: hue-rotate(180deg) brightness(70%) !important;
            filter: hue-rotate(180deg) brightness(70%) !important;
    : blue !important;
    position: absolute;
    width: 51px !important;
    height: 35px;
    z-index: 1;
}
