<!-- index.html -->
{% extends 'html-pages/menu.html' %}

{% block title %}Silmat Auki{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>Welcome to Silmat Auki!</h2>
            <p>This website is designed to assist in decrypting the 'eye messages' found in the video game 'Noita'.</p>
            <p>I've provided various tools and analysis methods to help players understand and interpret these messages.</p>
            <p>Do note that the ASCII output has been shifted by 32, as was done in the community documents as well.</p>
            <p>Best Regards, Muddykat</p>
        </div>
    </div>
    <div class="overlay"></div>
</div>

{% endblock %}
