<!-- index.html -->
{% extends 'html-pages/menu.html' %}

{% block title %}Silmat Auki{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>Welcome to Silmat Auki!</h2>
            <p>This website is designed to assist in decrypting the 'eye messages' found in the video game 'Noita'.</p>
            <p>I've provided various tools and analysis methods to help players understand and interpret these messages.</p>
            <p>Best Regards, Muddykat</p>
            <!-- Add more information about the website as needed -->
        </div>
    </div>
    <div class="overlay"></div>
</div>
<!--<div id="output"></div>-->
<!--<script>-->
<!--    jQuery.noConflict();-->
<!--    jQuery(document).ready(function($) {-->
<!--        // Use $ as an alias for jQuery within this scope-->
<!--        $.ajax({-->
<!--            url: '/get_data',-->
<!--            type: 'GET',-->
<!--            success: function(response) {-->
<!--                // Handle successful response-->
<!--                $('#output').text(response.message);-->
<!--            },-->
<!--            error: function(xhr, status, error) {-->
<!--                // Handle error-->
<!--                console.error(error);-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->

{% endblock %}
